*,
::before,
::after {
  box-sizing: border-box;
}

/* third commit */

:root {
  --white: #fff;
  --dark: #121212;
  --grey: #e5e5e5;
  --gr-white: #f8f8f8;
  --sale: #e91e63;
  --yellow: #f0cc84;
  --error: #d61313;
  --ok: #0bb17f;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  min-height: 100vh;
  background: var(--grey);
}

img {
  max-width: 100%;
}

img,
ul,
p,
span {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar {
  background: var(--dark);
  color: var(--white);
  font-size: 0.6875rem;
  font-weight: 500;
  padding: 0.2em 0;
}

.top-bar li {
  list-style: none;
  opacity: 0.8;
}

.top-bar-contact {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.top-bar-contact-item span {
  line-height: 12.32px;
  padding-left: 0.5em;
}

.top-bar-contact-item:last-of-type {
  /* border: 1px solid red; */
  margin-top: 3px;
}

.top-bar-contact-item + .top-bar-contact-item {
  padding-left: 2em;
}

.top-bar-social-item + .top-bar-social-item {
  padding-left: 1em;
}

.top-bar-social {
  display: flex;
  margin-top: 3px;
  padding-left: 0;
}
