*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --dark: #121212;
  --grey: #e5e5e5;
  --gr-white: #f8f8f8;
  --gr-form: #414141;
  --sale: #e91e63;
  --yellow: #f0cc84;
  --error: #d61313;
  --ok: #0bb17f;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  min-height: 100vh;
  background: var(--grey);
}

img {
  max-width: 100%;
}

h6,
img,
ul,
p,
span {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer Top Bar ------------------------------- */

.footer-top-bar {
  display: flex;
  background: var(--dark);
  padding: 0.75em 0;
}

.footer-top-bar .subtitle {
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 6%;
}

.footer-top-bar-social-item + .footer-top-bar-social-item {
  padding-left: 0.5em;
}

.footer-top-bar-social {
  display: flex;
  margin-top: 3px;
  padding-left: 0;
  list-style: none;
  opacity: 0.8;
}

.email-form .email-input {
  padding: 0.4em 12em 0.4em 1em;
  background: var(--gr-form);
  margin-right: 5px;
  border-style: solid;
  /* border: none; */
  border: 1.5px solid var(--gr-form);
}

.email-form .email-input::placeholder {
  color: var(--white);
  opacity: 0.4;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 18px;
  font-family: 'Spartan', sans-serif;
}

.email-form .btn {
  background: var(--dark);
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  border: 1px solid var(--white);
  padding: 0.4em 1.75em;
  opacity: 0.9;
  cursor: pointer;
  display: inline-block;
}

/* Footer Links ------------------------------- */

.footer-links {
  background: var(--white);
}

.container-footer {
  padding: 2.5em 0;
}

.footer-links ul {
  padding-left: 0;
}

.footer-links li {
  list-style: none;
  /* display: flex; */
  /* align-self: baseline; */
}

.footer-links img {
  /* margin-bottom: -4px; */
  /* margin-right: 4px; */
  margin: 0 4px -4px 0;
  /* display: flex; */
  /* align-self: baseline; */
}

.footer-column {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.footer-column .link-heading {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: auto;
}

.footer-column .link-icon {
  /* background: #d61313; */
  /* border: 1px solid red; */
  color: #121212;
}

.footer-column + .footer-column {
  /* margin-left: 5em; */
}

/* Footer Top Bar ------------------------------- */

.footer-bottom-bar {
  background: var(--gr-white);
  padding: 0.45em 0;
}

.copyright {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 22px;
  opacity: 0.8;
}

.trust-badges {
  display: flex;
  list-style: none;
}

.badge__item + .badge__item {
  margin-left: 0.7em;
}

.author {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 22px;
  opacity: 0.8;
  color: var(--dark);
}

.author span {
  font-weight: 700;
}
