*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --dark: #121212;
  --grey: #e5e5e5;
  --gr-white: #f8f8f8;
  --sale: #e91e63;
  --yellow: #f0cc84;
  --error: #d61313;
  --ok: #0bb17f;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  min-height: 100vh;
  background: var(--grey);
}

img {
  max-width: 100%;
  /* display: block; */
}

h6,
img,
ul,
p,
span {
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policy {
  display: flex;
  background: var(--white);
}

.policy__item {
  display: flex;
  align-items: center;
  padding: 2em 0;
}

.policy__item + .policy__item {
  margin-left: 3em;
}

.policy__image {
  margin-right: 0.5em;
  /* padding-bottom: 1.5em; */
}

.policy__heading {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 6%;
}

.policy__text {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 22px;
}
